body {
  background-color: #DFEEEA;
}

hr {
  border-style: dotted none none;
  border-color: white;
  border-width: 5px;
  height: 0;
  width: 100%;
}

h1 {
  color: #5E8B7E;
}

h3 {
  color: #5E8B7E;
}

img {
  height: 200px;
}
